@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    transition: all ease 150ms;
}

::-webkit-scrollbar{
    @apply w-2.5 bg-slate-300
}
::-webkit-scrollbar-thumb{
    @apply bg-slate-600 rounded-2xl w-2
}

.navbar{
    @apply fixed flex items-center justify-center gap-12 bottom-4 right-[50%] translate-x-[50%] h-14 w-fit py-2 px-6 drop-shadow-xl hover:drop-shadow-sm rounded-full bg-light-2 dark:bg-dark-2 border-dark-2 dark:border-light-2 border-[1px]
}
.navbar_btn{
    @apply flex items-center justify-center relative w-10 h-10 rounded-full drop-shadow-md overflow-hidden
}

button{
    @apply opacity-95
}
button:hover{
    @apply opacity-100
}
button:active{
    @apply scale-[0.97]
}